<div data-magellan-expedition="fixed" id = "nav-bar" data-magellan-destination="gallery-title">
    <div class="sub-nav" >
        <dl class="right" >
            <dd data-magellan-arrival='search-title' ><a href="#/list" class="title">Search</a></dd>
            <dd data-magellan-arrival='gallery-title'  ><a href="#/gallery" class="title">Gallery</a></dd>

        </dl>
    </div>
</div>

<div class="row" >

    <div class="small-12 medium-12 large-12 columns text-center"><h1 class="para">IMDB Top 250 Movie</h1></div>

    </div>
</div>
<a name="gallery-title"></a>
<div class="row">
    <ul class="small-block-grid-6 medium-block-grid-12 large-block-grid-12">
        <li class="genre" ng-click="genre='All'" ng-class="{active:genre=='All'}">All</li>
        <li class="genre" ng-click="genre='Action'" ng-class="{active:genre=='Action'}">Action</li>
        <li class="genre" ng-click="genre='Adventure'" ng-class="{active:genre=='Adventure'}">Adventure</li>
        <li class="genre" ng-click="genre='Crime'" ng-class="{active:genre=='Crime'}">Crime</li>
        <li class="genre" ng-click="genre='Comedy'" ng-class="{active:genre=='Comedy'}">Comedy</li>
        <li class="genre" ng-click="genre='Drama'" ng-class="{active:genre=='Drama'}">Drama</li>
        <li class="genre" ng-click="genre='Musical'" ng-class="{active:genre=='Musical'}">Musical</li>
        <li class="genre" ng-click="genre='Mystery'" ng-class="{active:genre=='Mystery'}">Mystery</li>
        <li class="genre" ng-click="genre='Romance'" ng-class="{active:genre=='Romance'}">Romance</li>
        <li class="genre" ng-click="genre='Sci-Fi'" ng-class="{active:genre=='Sci-Fi'}">Sci-Fi</li>
        <li class="genre" ng-click="genre='Thriller'" ng-class="{active:genre=='Thriller'}">Thriller</li>
        <li class="genre" ng-click="genre='Western'" ng-class="{active:genre=='Western'}">Western</li>
    </ul>
</div>



<div class="row ggg">
    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6" id="back">
        <li ng-repeat="movie in selectMovies(genre) | orderBy:orderProp">
            <a href="#/details/{{movie.rank}}"><img ng-src="data/images/{{movie.imdbID+'.jpg'}}"></a>
        </li>
    </ul>
</div>